<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Backend.Properties.Settings.CARBUSConnectionString1"
            connectionString="Data Source=PC-TIM\SQLEXPRESS;Initial Catalog=Carbus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Backend.Properties.Settings.CarBusConnectionString2"
            connectionString="Data Source=PC-TIM\SQLEXPRESS;Initial Catalog=Carbus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>